/*-------------------------------------------------------------------------------------*/
/*     Body                                                                            */
/*-------------------------------------------------------------------------------------*/
body{
	padding: 10px 50px;
	margin: 0;
}


/*-------------------------------------------------------------------------------------*/
/*     Header                                                                          */
/*-------------------------------------------------------------------------------------*/
header{
	font-size: 200%;
}
.Topnav ul{
	list-style-type: none;
}
.Topnav li{
	display: inline-block;
	border: black solid 2px;
	padding: 10px 25px;
}
/*-------------------------------------------------------------------------------------*/
/*     Section 1                                                                       */
/*-------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------*/
/*     Section 2                                                                       */
/*-------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------*/
/*     Section 3                                                                       */
/*-------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------*/
/*     Section 4                                                                       */
/*-------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------*/
/*     Footer                                                                          */
/*-------------------------------------------------------------------------------------*/
footer{
	display: grid;
	grid-template-areas: 
	"DL Innri Ytri"
}
.DlList{
	grid-area: DL;
}
.Innrinav{
	grid-area: Innri
}
.Ytrinav{
	grid-area: Ytri;
}